HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# properties
src/main/resources/application.properties
src/main/resources/application*.properties

# yml (로컬/프로덕션 설정 파일)
src/main/resources/application-local.yml
src/main/resources/application-prod.yml
src/main/resources/application-dev.yml

# data
src/main/resources/data.sql

# test data
test-data.sql
reset-database.sql
bootrun.log


# Data Initializer
src/main/java/com/example/hungrypangproject/common/DataInitializer.java